#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

systemLog:
  destination: file
  logAppend: true
  path: {{ mongodb_log_file }}

storage:
  dbPath: {{ mongodb_data_dir }}
  journal:
    enabled: true
#  engine:
#  mmapv1:
{% if 
  mongodb_wiredTiger_engineConfig_cacheSizeGB is defined or
  mongodb_wiredTiger_engineConfig_journalCompressor is defined or
  mongodb_wiredTiger_engineConfig_directoryForIndexes is defined or
  mongodb_wiredTiger_collectionConfig_blockCompressor is defined or
  mongodb_wiredTiger_indexConfig_prefixCompression is defined
%}
  wiredTiger:
{% if 
  mongodb_wiredTiger_engineConfig_cacheSizeGB is defined or
  mongodb_wiredTiger_engineConfig_journalCompressor is defined or
  mongodb_wiredTiger_engineConfig_directoryForIndexes is defined
%}
    engineConfig:
{% if mongodb_wiredTiger_engineConfig_cacheSizeGB is defined %}
      cacheSizeGB: {{ mongodb_wiredTiger_engineConfig_cacheSizeGB }}
{% endif %}
{% if mongodb_wiredTiger_engineConfig_journalCompressor is defined %}
      journalCompressor: {{ mongodb_wiredTiger_engineConfig_journalCompressor }}
{% endif %}
{% if mongodb_wiredTiger_engineConfig_directoryForIndexes is defined %}
      directoryForIndexes: {{ mongodb_wiredTiger_engineConfig_directoryForIndexes }}
{% endif %}
{% endif %}
{% if mongodb_wiredTiger_collectionConfig_blockCompressor is defined %}
    collectionConfig:
        blockCompressor: {{ mongodb_wiredTiger_collectionConfig_blockCompressor }}
{% endif %}
{% if mongodb_wiredTiger_indexConfig_prefixCompression is defined %}
    indexConfig:
        prefixCompression: {{ mongodb_wiredTiger_indexConfig_prefixCompression }}
{% endif %}
{% endif %}

processManagement:
  fork: true
  pidFilePath: {{ mongodb_pid_file }}

net:
  port: {{ mongodb_port }}
  {% if not mongodb_bind_all %}
  bindIp: {{ mongodb_bind_ip }}
  {% endif %}

#security:

#operationProfiling:

{% if 
  mongodb_replication_replSetName is defined or
  mongodb_replication_oplogSizeMB is defined or
  mongodb_replication_secondaryIndexPrefetch is defined or
  mongodb_replication_enableMajorityReadConcern is defined
%}
replication:
{% if mongodb_replication_oplogSizeMB is defined %}
  oplogSizeMB: {{ mongodb_replication_oplogSizeMB }}
{% endif %}
{% if mongodb_replication_replSetName is defined %}
  replSetName: {{ mongodb_replication_replSetName }}
{% endif %}
{% if mongodb_replication_secondaryIndexPrefetch is defined %}
  secondaryIndexPrefetch: {{ mongodb_replication_secondaryIndexPrefetch }}
{% endif %}
{% if mongodb_replication_enableMajorityReadConcern is defined %}
  enableMajorityReadConcern: {{ mongodb_replication_enableMajorityReadConcern }}
{% endif %}
{% endif %}

#sharding:

## Enterprise-Only Options

#auditLog:

#snmp:
