systemLog:
  destination: file
  logAppend: true
  path:  {{ mongod-config_log_file }}

storage:
  dbPath: {{ mongodb_data_dir }}/config
  journal:
    enabled: true

# Cluster: {{ replSetName }}
# useRepSetConfig: true
# region: us-east-1
  engine: wiredTiger

processManagement:
  fork: true
  pidFilePath: {{ mongodb-config_pid_file }}

net:
  port: {{ mongod-config_port }}
  {% if not mongod-config_bind_all %}
  bindIp: {{ mongod-config_bind_ip }}
  {% endif %}
  bindIpAll: true

replication:
   replSetName: {{ replSetName }}-config
